.container {
  width: 90px;
  height: 35px;
  background-color: lightblue;
  border: 3px solid skyblue;
  border-radius: 3px;
  margin: 15px auto;
  padding: 10px;
  font-size: 1.5rem;
}

a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: none;
}
.popup .content {
  margin: 40px auto 0px auto;
  width: 400px;
  height: 215px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}
.popup .content a {
  float: right;
  background-color: #418bca;
  color: #fff;
  border-radius: 3px;
  padding: 12px 35px;
  margin-right: 20px;
}
.popup .content h1 {
  padding-left: 10px;
}
.popup .content p {
  display: block;
  border: 1px solid #f0f0f0;
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 10px;
  margin: 9px 0;
  color: #5c7a92;
}
