* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 20px;
  width: 50%;
}
p {
  padding: 15px 0;
}
.tip:hover::after {
  content: attr(data-title);
}
.tip {
  display: inline-block;
  /* Строчно-блочный элемент */
  position: relative;
  /* Относительное позиционирование */
  color: blue;
}
.tip:hover::after {
  content: attr(data-title);
  /* Выводим текст */
  position: absolute;
  /* Абсолютное позиционирование */
  left: -50px;
  bottom: 150%;
  /* Положение подсказки */
  z-index: 1;
  /* Отображаем подсказку поверх других элементов */
  background: #363636;
  /* Полупрозрачный цвет фона */
  font-family: Arial, sans-serif;
  /* Гарнитура шрифта */
  font-size: 0.7rem;
  /* Размер текста подсказки */
  width: 150px;
  height: auto;
  color: #fff;
  padding: 5px 10px;
  /* Поля */
  border: 1px solid #333;
  /* Параметры рамки */
  border-radius: 5px;
}
.tip:hover:before {
  content: "";
  position: absolute;
  border-left: 10px solid rgba(113, 101, 58, 0);
  border-right: 10px solid rgba(113, 101, 58, 0);
  border-top: 10px solid #2c2c2c;
  left: 20px;
  bottom: 20px;
}
